<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>Editing Book</h2>
        <%= form_with model:@book, local:true do |f| %>
          <% if @book.errors.any? %>  
            <div id="error_explanation">
            <h2><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h2>
              <ul>
              <% @book.errors.full_messages.each do |message| %>
              <!--全ての属性に関するエラーメッセージを表示-->
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
            
          <div class="form-group">
          <label for="inputTitle">Title</label><br>
            <%= f.text_field :title, autofocus: true, id:"inputName", placeholder:"名前"%>
          </div>
          <div class="form-group">
           <p>Opinion</p>
            <%= f.text_area :body %>
          </div>
          <div class="form-group">
            <%= f.submit "Update Book" , class: 'btn btn-secondary' %>
          </div>
          <p>
            <%= link_to "Show", book_path(@book.id) %>
            <!--idを持った変数を引数に渡すことで、正しいパスとなる-->
            <span>|</span>
            <%= link_to "Back", books_path %>
            <!--methodをdestroyに変更することで削除でき、一覧画面に戻るpathとなる-->
            <!--destroyアクションを使用して削除機能を実装しているが、使用するHTTPメソッドはdelete-->
          </p>
        <% end %>
      </div>
    </div>
  </div>
</main>